<div *ngIf="response" [ngClass]=" (response.status ? 'alert alert-success' : 'alert alert-danger') ">
  {{response.message}}
</div>

<div class="register-block" [@fadeBottom]>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2 class="text-primary">{{title}}</h2>
      <div class="panel panel-default">
        <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="panel-body">
            <div class="form-group">
              <label for="name" >Nombre:</label>
              <input id="name" type="text" class="form-control" placeholder="Nombre" name="name" required #name="ngModel" [(ngModel)]="user.name">
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input id="email" type="text" class="form-control" placeholder="Email" name="email" required #email="ngModel" [(ngModel)]="user.email">
            </div>
            <div class="form-group">
              <label for="pass">Contraseña:</label>
              <input id="pass" type="password" class="form-control" placeholder="Contraseña" name="password" required #password="ngModel" [(ngModel)]="user.password">
            </div>
            <div class="form-group">
              <label for="pass">Rol:</label>
              <select name="role" id="role" class="form-control" name="role" required #role="ngModel" [(ngModel)]="user.role">
                <option value="ROLE_USER" selected="selected">Usuario</option>
                <option value="ROLE_ADMIN">Administrador</option>
              </select>
            </div>
          </div>
          <div class="panel-footer clearfix">
            <input type="submit" value="Registrar" class="btn btn-primary pull-right" [disabled]="!registerForm.form.valid" >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>