.navbar.navbar-inverse {
  background-color: #1B61B8;
  border-radius: 0 !important;
  margin: 0;
  border: none;
  height: 200px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 65%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 65%, 0% 100%);
}

.img-brand {
  height: 150px;
  width: 150px;
  image-rendering: crisp-edges;
}
.navbar.navbar-inverse li, 
.navbar.navbar-inverse li a, 
.navbar.navbar-inverse li span {
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  transition: .5s all;
}
.navbar.navbar-inverse li:hover a, 
.navbar.navbar-inverse li:hover span {
  font-size: 1.2em;
}

.navbar-nav .active {
  border-bottom: 4px solid lightblue;
}